* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  color: #30303a;
  font-size: 2.5em;
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 1.2em;
  color: #777;
  margin-top: 0;
  margin-bottom: 30px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 0 20px;
  flex-grow: 1;
}

.gallery-item {
  background: #fff;
  border: 3px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.preview {
  width: 100%;
  background: #eee;
  overflow: hidden;
  display: block;
  border-radius: 8px;
}

.preview img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.gallery-item p {
  margin-top: 10px;
  font-size: 1.1em;
  color: #30303a;
  text-align: center;
}

footer {
  margin-top: auto;
  color: #777;
  text-align: center;
  padding: 10px 0;
  background-color: transparent;
  width: 100%;
}

footer p {
  font-size: 1em;
}