* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.canvas {
  width: 750px;
  height: 550px;
  display: grid;
  border: 6px solid #000;
  grid-template-columns: 8fr 3fr 5fr 2.5fr;
  grid-template-rows: 2fr 0.8fr 1.5fr 1.5fr 1.5fr 4fr;
}

.canvas div {
  border: 6px solid #000;
}

.red {
  background: #dd0100;
  grid-column: 1 / 2;
  grid-row: 1 / 6;
}

.white1 {
  background: white;
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.yellow-small {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background: 	#fac901;
}

.white2 {
  grid-column: 2 / 3;
  grid-row: 3 / 6;
  background: white;
}

.blue-vertical {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
  background: #225095;
}

.white3 {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
  background: #f0f0f0;
}

.blue-horizontal {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
  background: #225095;
}

.red-small {
    background: #dd0100;
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.white4 {
    background: white;
    grid-column: 4 / 5;
    grid-row: 2 / 5;
}

.yellow-large {
  grid-column: 3 / 5;
  grid-row: 5 / 7;
  background: 	#fac901;
}