* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
}

.canvas {
  width: 600px;
  height: 600px;
  display: grid;
  border: 6px solid #000;
  grid-template-columns: 2fr 6fr 0.8fr;
  grid-template-rows: 3fr 4fr 1fr 1fr;
}

.canvas div {
  border: 6px solid #000;
}

.white {
  background: white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.white1 {
  background: white;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.blue {
  background: #225095;
  grid-column: 1 / 2;
  grid-row: 3 / 5;
}

.red {
  background: #dd0100;
  grid-column: 2 / 4;
  grid-row: 1 / 3 ;
}

.white2 {
  background: white;
  grid-column: 2 / 3;
  grid-row: 3 / 5;
}

.white3 {
  background: white;
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.yellow {
  background: 	#fac901;
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}
