* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f4f4;
}

.canvas-wrapper {
    width: 100%;
    max-width: 450px;
    aspect-ratio: 450 / 650;
}

.canvas {
  width: 100%;
  height: 100%;
  display: grid;
  border: 6px solid #000;
  grid-template-columns: 1fr 1fr 1fr 0.3fr 0.8fr 0.8fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1.2fr 1.2fr 1fr 1.5fr 1.5fr 1.5fr 1.5fr 1fr 1fr 2fr 0.5fr 2fr;
}

.canvas div {
  border: 4px solid #000;
}

.white1 {
  background: white;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.white2 {
  background: white;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.yellow {
  background:	#fac901;
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.blue {
  background: #225095;
  grid-column: 1 / 3;
  grid-row: 5 / 7;
}

.yellow1 {
  background:	#fac901;
  grid-column: 1 / 2;
  grid-row: 7 / 9;
}

.white3 {
  background: white;
  grid-column: 1 / 2;
  grid-row: 9 / 12;
}

.white4 {
  background: white;
  grid-column: 1 / 2;
  grid-row: 12 / 14;
}

.black {
  background: black;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.white5 {
  background: white;
  grid-column: 2 / 4;
  grid-row: 13 / 14;
}

.white6 {
  background: white;
  grid-column: 3 / 5;
  grid-row: 1 / 3;
}

.yellow2 {
  background:	#fac901;
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}

.red {
  background: #dd0100;
  grid-column: 3 / 6;
  grid-row: 5 / 7;
}

.white7 {
  background: white;
  grid-column: 5 / 6;
  grid-row: 3 / 5;
}

.white8 {
  background: white;
  grid-column: 4 / 7;
  grid-row: 7 / 8;
}

.white9 {
  background: white;
  grid-column: 4 / 7;
  grid-row: 8 / 9;
}

.yellow3 {
  background:	#fac901;
  grid-column: 2 / 4;
  grid-row: 7 / 9;
}

.red1 {
  background: #dd0100;
  grid-column: 2 / 7;
  grid-row: 9 / 13;
}

.black1 {
  background: black;
  grid-column: 5 / 7;
  grid-row: 1 / 3;
}

.white10 {
  background: white;
  grid-column: 4 / 8;
  grid-row: 13 / 14;
}

.white11 {
  background: white;
  grid-column: 6 / 7;
  grid-row: 3 / 5;
}

.white12 {
  background: white;
  grid-column: 6 / 7;
  grid-row: 5 / 7;
}

.white13 {
  background: white;
  grid-column: 7 / 9;
  grid-row: 5 / 6;
}

.white14 {
  background: white;
  grid-column: 7 / 9;
  grid-row: 6 / 7;
}

.blue1 {
  background: #225095;
  grid-column: 7 / 11;
  grid-row: 1 / 5;
}

.white15 {
  background: white;
  grid-column: 7 / 8;
  grid-row: 7 / 9;
}

.white16 {
  background: white;
  grid-column: 7 / 8;
  grid-row: 9 / 11;
}

.white17 {
  background: white;
  grid-column: 8 / 9;
  grid-row: 9 / 11;
}

.black2 {
  background: black;
  grid-column: 7 / 9;
  grid-row: 11 / 13;
}

.yellow4 {
  background:	#fac901;
  grid-column: 8 / 11;
  grid-row: 13 / 14;
}

.yellow5 {
  background:	#fac901;
  grid-column: 9 / 11;
  grid-row: 5 / 7;
}

.blue2 {
  background: #225095;
  grid-column: 8 / 10;
  grid-row: 7 / 9;
}

.white18 {
  background: white;
  grid-column: 9 / 11;
  grid-row: 11 / 13;
}

.black3 {
  background: black;
  grid-column: 9 / 10;
  grid-row: 9 / 11;
}

.white19 {
  background: white;
  grid-column: 11 / 12;
  grid-row: 1 / 2;
}

.white20 {
  background: white;
  grid-column: 11 / 12;
  grid-row: 2 / 5;
}

.white21 {
  background: white;
  grid-column: 11 / 12;
  grid-row: 6 / 7;
}

.black4 {
  background: black;
  grid-column: 11 / 12;
  grid-row: 5 / 6;
}

.red2 {
  background: #dd0100;
  grid-column: 10 / 12;
  grid-row: 7 / 9;
}

.white22 {
  background: white;
  grid-column: 10 / 12;
  grid-row: 9 / 10;
}

.yellow6 {
  background:	#fac901;
  grid-column: 10 / 12;
  grid-row: 10 / 11;
}

.white23 {
  background: white;
  grid-column: 11 / 12;
  grid-row: 11 / 14;
}
